<div class="row">
	<div class="row">
		<div class="col-md-12">
			
		</div>
	</div>
	<form class="form" ng-submit="addNewUser()">
		<div class="col-md-12">
			<fieldset>
				<legend>Dados de identificação</legend>
				<div class="form-group">
					<label for="name">Nome</label>
					<input name="name" id="name" required="required" class="form-control" ng-model="usuario.nome">
				</div>
				<div class="form-group">	
					<label for="mail">E-mail</label>
					<input name="email" id="mail" required="required" type="email" class="form-control" ng-model="usuario.email">
				</div>	
				<div class="form-group">	
					<label for="pass">Senha</label>
					<input name="password" id="pass" required="required" type="password" class="form-control" ng-model="usuario.senha">
				</div>	
				<div class="form-group">	
					<label for="csenha">Confirmar senha</label>
					<input name="csenha" id="csenha" required="required" type="password" class="form-control" ng-model="aux.confirmarSenha">
				</div>	
			</fieldset>
			<input type="submit" value="Cadastrar dados" class="btn btn-primary form-control">
		</div>
	</form>
</div>