<form ng-submit="submeter()" class="form">
	<div class="row">
		<legend ng-hide="editar">Cadastrar livro</legend>
		<legend ng-show="editar">Editar livro</legend>
		<div class="col-md-6">
			<div class="form-group">
				<label for="nome">Título:</label> <input type="text"
					ng-model="livro.titulo" class="form-control" id="nome"
					required="required" autofocus="autofocus">
			</div>
			<div class="form-group">
				<label for="edicao">Edição:</label> <input type="number"
					number-converter ng-model="livro.edicao" class="form-control"
					id="edicao">
			</div>
			<div class="form-group" flow-file-added="removeImage()" flow-init
				flow-files-submitted="$flow.upload()" flow-name="obj.foto">
				<label for="foto">Foto do livro:</label> <input type="file"
					style="visibility: hidden"> <span class="btn btn-default"
					ng-click="$flow.files = []" flow-btn>Selecionar foto</span>
				<div id="edit-remove">
					<img style="display: block" id="bytes" ng-show="editar"> <a
						class="btn btn-xs btn-danger" ng-click="removeImage()"
						ng-show="editar" id="btn-remover"> Remover </a>
				</div>
				<div ng-repeat="file in $flow.files" class="transfer-box">
					{{file.relativePath}} ({{file.size}}bytes)

					<div class="progress progress-striped"
						ng-class="{active: file.isUploading()}">
						<div class="progress-bar" role="progressbar"
							aria-valuenow="{{file.progress() * 100}}" aria-valuemin="0"
							aria-valuemax="100"
							ng-style="{width: (file.progress() * 100) + '%'}">
							<span class="sr-only">{{file.progress()}}% Complete</span>
						</div>
					</div>
					<img flow-img="file" style="display: block" id="bytes">
					<div class="btn-group">
						<a class="btn btn-xs btn-danger" ng-click="file.cancel()">
							Remover </a>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="foto">Categoria:</label> <select ng-model="livro.categoria"
					ng-options="cate.nome for cate in categorias">
				</select>
			</div>

			<div class="form-group">
				<label for="foto">Descrição:</label>
				<textarea rows="5" maxlength="50" wrap="hard"
					ng-model="livro.resumo" cols="50" id="foto"></textarea>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="ano">Ano:</label> <input type="number"
					ng-model="livro.ano" class="form-control" id="ano"
					required="required">
			</div>
			<div class="form-group">
				<label for="preco">Preço:</label> <input type="number"
					ng-model="livro.preco" class="form-control" id="preco"
					required="required">
			</div>
			<div class="form-group">
				<label for="autor">Autor:</label>
				<div class="row">
					<div class="col-md-8">
						<input type="text" ng-model="livro.autor" class="form-control"
							id="autor">
					</div>
					<div class="col-md-4">
						<button type="button" class="btn btn-primary"
							ng-click="addAutor()">Adicionar</button>
					</div>
				</div>
			</div>
			<div class="form-group" ng-show="livro.autores.length">
				<div class="list">
					<table class="table">
						<tr ng-repeat="autor in livro.autores">
							<td>{{autor.nome}}</td>
							<td><span ng-click="removerAutor($index)"
								class="glyphicon glyphicon-trash"></span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary form-control"
				ng-hide="editar">Cadastrar livro</button>
			<button type="submit" class="btn btn-success form-control"
				ng-show="editar">Editar livro</button>
		</div>
	</div>
</form>