<div class="row">
	<div class="col-md-4 margin-10-top">
		<img alt="{{livro.titulo}}"  data-ng-src="data:image/png;base64,{{livro.foto}}" 
		class="img-responsive"></a>
	</div>
	<div class="col-md-6">
		<h1 class="title detalhe-livro-font">{{livro.titulo}}</h1>
		<p class="detalhe-livro-font"><span class="info-livro">Autor:</span> {{livro.autores[0].nome}}</p>
		<p class="detalhe-livro-font"><span class="info-livro">Edição:</span> {{livro.edicao}}</p>
		<p class="detalhe-livro-font"><span class="info-livro">Categoria:</span> {{livro.categoria.nome}}</p>
		<p class="detalhe-livro-font"><span class="info-livro">Ano:</span> {{livro.ano}}</p>
		<h3 class="preco detalhe-livro-font">{{ livro.preco | currency: "R$ "}}</h3>
		<button class="btn-comprar detalhe-livro-font" ng-click="openPaymentModal()">Comprar</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3 class="detalhe-livro-font">Sinopse:</h3>
		<p class="detalhe-livro-font">{{livro.resumo}}
	</div>
</div>