<div class="row">
	<div class="col-md-3"></div>

	<div class="col-md-6">
		<form id="form-login" ng-submit="logar()">
			<legend>Seja bem-vindo</legend>
			<div class="form-group">
				<label for="email">E-mail</label> <input id="email" class="form-control"
					name="email" required="required" type="email" ng-model="usuario.email">
			</div>
			<div class="form-group">
				<label for="senha">Senha</label> 
				<input type="password" id="senha"
					name="senha" class="form-control" required="required" ng-model="usuario.senha">
			</div>
			<button class="btn btn-primary form-control" type="submit">Entrar</button>
		</form>
		<p>
			<p><a href="#">Esqueci a senha</a></p>
			<p><a href="#/cadastro_usuario">Cadastre-se</a></p>
		</p>
	</div>
	<div class="col-md-3"></div>
</div>
