<div class="row">
		<div class="col-md-10"></div>
		<div class="col-md-2 add-livro"><a ng-href="#/novo-livro">
		<img alt="adicionar livro" ng-src="img/icon-add.png" title="Adicionar livro" id="add-book"></a></div>
</div>
<div class="row">
	<div class="row" ng-hide="livros.length">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<span style="color: #777;">{{message}}</span>
		</div>
		<div class="col-md-3"></div>
	</div>
	<div class="col-md-12">
		<table class="table table-responsive" ng-show="livros.length">
			<thead>
				<th>Livro</th>
				<th>Título</th>
				<th>Autor</th>
				<th>Ação</th>
			</thead>
			<tbody>
				<tr ng-repeat="livro in livros">
					<td>
					<img alt="{{livro.titulo}}"  data-ng-src="data:image/png;base64,{{livro.foto}}" 
					class="img-responsive-grid img-thumbnail">
					</td>
					<td>{{livro.titulo}}</td>
					<td>{{livro.autores[0].nome}}</td>
					<td>
						<button class="btn btn-danger" type="button" ng-click="remover(livro)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						<button class="btn btn-success" type="button" ng-click="atualizar(livro.id)">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>