<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap-theme.min.css">
<div class="row">
	<div class="col-md-12">
		<h4>Dados do Cartão</h4>
		<form class="form">
			<div class="form-group">
				<label>Cartão</label> 
				<select class="form-control">
					<option selected="selected">Visa</option>
					<option>Mastecard</option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="nome-cartao">Nome</label> <input
					class="form-control" id="nome-cartao" type="text" required="required">
			</div>
			<div class="form-group">
				<label for="endereco">Endereço</label> <input
					class="form-control" id="endereco" type="text" required="required">
			</div>
			<div class="form-group">
				<label for="numero-cartao">Número</label> <input
					class="form-control" id="numero-cartao" type="number" required="required">
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="vencimento">Vencimento</label> 
						<input pattern="[0-9]{2}\/[0-9]{2}" class="form-control" id="vencimento" type="text" placeholder="MM/AA" required="required">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="cvc">Código</label> 
						<input class="form-control" id="cvc" type="text" placeholder="CVC" required="required">
					</div>
				</div>
			</div>
			<button class="btn btn-primary form-control" ng-dialog-close-previous ng-click="openSecond()">Comprar</button>
		</form>
	</div>
</div>