<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
			<legend>Perfil</legend>
			<div class="form-group">
				<label>Nome:</label>
				<input type="text"  ng-model="usuario.nome" no-readonly class="form-control" readonly="readonly" required="required">
			</div>
			<div class="form-group">
				<label>E-mail:</label>
				<input type="email"  ng-model="usuario.email" no-readonly class="form-control" readonly="readonly" required="required">
			</div>
			<div class="form-group" ng-show="isEditing">
				<label>Senha:</label>
				<input type="password" ng-model="usuario.senha" class="form-control" required="required">
			</div>
			<div class="form-group" ng-show="isEditing">
				<label>Confirmar senha:</label>
				<input type="password" ng-model="confSenha" class="form-control" required="required">
			</div>
			<button class="form-control btn btn-success" ng-click="editar()" ng-hide="isEditing">Editar</button>
			<button class="form-control btn btn-primary" ng-show="isEditing" ng-click="atualizar()">Salvar</button>
	</div>
	<div class="col-md-2"></div>
</div>