<div class="row margin-10-top">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-4" ng-repeat="livro in livros | filter: {categoria: {nome:filtro}} :false">
				<div class="panel panel-default" style="margin: 5px">
					<a href="#/detalhe_livro/{{livro.id}}">
					<img alt="{{livro.titulo}}"  data-ng-src="data:image/png;base64,{{livro.foto}}"  
					class="img-responsive img-thumbnail"></a>
					<p class="text-center title-book">{{livro.titulo}}</p>
					<p class="text-center author-name">{{livro.autores[0].nome}}</p>
				</div>
			</div>
		</div>		
	</div>
	<div class="col-md-1"></div>
</div>
