<!DOCTYPE html>
<html lang="pt-br" ng-app="bookSales">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Book Sales</title>
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="css/ngDialog.min.css">
<link rel="stylesheet" type="text/css" href="css/ngDialog-theme-default.min.css">	
<link rel="stylesheet" type="text/css" href="css/estilo.css">

<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

<!-- angular -->
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script src="ng-flow/dist/ng-flow-standalone.min.js"></script>
<script type="text/javascript" src="js/lib/ngDialog.min.js"></script>
<script type="text/javascript" src="js/lib/angular-route.min.js"></script>
<script type="text/javascript" src="js/lib/angular-resource.min.js"></script>
<script type="text/javascript" src="js/lib/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/controller-module.js"></script>
<script type="text/javascript" src="js/service-module.js"></script>
<script type="text/javascript" src="js/services/request-service.js"></script>
<script type="text/javascript" src="js/services/save-update-service.js"></script>
<script type="text/javascript" src="js/controllers/categoria-controller.js"></script>
<script type="text/javascript"
	src="js/controllers/cadastrar-livro-controller.js"></script>
<script type="text/javascript"
	src="js/controllers/usuario-controller.js"></script>
<script type="text/javascript" src="js/controllers/livro-controller.js"></script>
<script type="text/javascript"
	src="js/controllers/meus-livros-controller.js"></script>
<script type="text/javascript"
	src="js/controllers/pesquisa-controller.js"></script>
<script type="text/javascript" src="js/controllers/perfil-controller.js"></script>
<script type="text/javascript" src="js/directives/diretiva-login.js"></script>

<!-- fontes -->
<link href='https://fonts.googleapis.com/css?family=Montserrat'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Montserrat|PT+Sans+Narrow'
	rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Serif'
	rel='stylesheet' type='text/css'>



</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 header" ng-controller="UsuarioController">
				<a href="#/login" class="btn-entrar text-right" ng-hide="isLogado">Entrar</a>
				<ul class="nav navbar-nav navbar-right" ng-show="isLogado">
					<li id="fat-menu" class="dropdown open"><a id="drop3"
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="true">{{userEmail}}<span
							class="caret"></span>
					</a>
						<ul class="dropdown-menu" aria-labelledby="drop3">
							<li><a href="#/meus-livros">Meus livros</a></li>
							<li><a href="#/perfil">Perfil</a></li>
							<li><a ng-click="logout()">Sair</a></li>
						</ul></li>
				</ul>
			</div>

		</div>
		<div class="row main">
			<div class="col-md-3">
				<h1 id="logo">
					<a href="#/livros">Book Sales</a>
				</h1>
			</div>
			<form class="form-busca" ng-controller="PesquisaController"
				ng-submit="pesquisar()">
				<div class="form-group">
					<div class="col-md-6">
						<input placeholder="Busque seu livro aqui..." class="form-control"
							ng-model="filtroPesquisa">
					</div>
					<div class="col-md-3">
						<button type="submit" class="btn btn-default"
							style="color: black;">Buscar</button>
					</div>
				</div>
			</form>
		</div>
		<div class="row" ng-controller="categoriaController">
			<div class="col-md-2">
				<h4>Categorias</h4>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation" class="categoria"><a href="#/livros">Todos</a></li>
				</ul>
				<ul class="nav nav-pills nav-stacked"
					ng-repeat="categoria in categorias">
					<li role="presentation" class="categoria"><a
						href="#/categoria/{{categoria.nome | lowercase}}">
							{{categoria.nome}} </a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="row message">
					<div class="col-md-12 alert alert-danger"
						ng-show="messages.erroMessage.length">
						<a class="close" id="erro" ng-click="messages.erroMessage=''">&times;</a>
						<strong>Erro: </strong>{{messages.erroMessage}}
					</div>
					<div class="col-md-12 alert alert-success"
						ng-show="messages.successMessage.length">
						<a class="close" ng-click="messages.successMessage=''" id="erro">&times;</a>
						<strong>Sucesso: </strong>{{messages.successMessage}}
					</div>
					<div class="col-md-12 alert alert-warning"
						ng-show="messages.warnMessage.length">
						<a class="close" ng-click="messages.warnMessage=''" id="warn">&times;</a>
						<strong>Aviso: </strong>{{messages.warnMessage}}
					</div>
				</div>
				<ng-view></ng-view>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
				<footer> Book Sales - Todos os direitos reservados </footer>
			</div>
		</div>
	</div>

</body>
</html>