.header{
	background-color: #38761d;
	height: 50px;
	text-align: right;
}

.smooth-opacity{
	opacity: 0.4;
    filter: alpha(opacity=40);
}

#add-book{
	cursor: pointer;
}

.margin-10-top{
	margin-top: 2%;
}

.row .text-left{
	width: 100%;
}

.preco{
	margin-top: 5%;
	font-size: 3em;
}

.info-livro{
	font-weight: bold;
}

.btn-comprar{
	margin-right: 10%;
	margin-top: -25%;
	font-weight:700;
	font-size: 2em;
	background-color: green;
	float: right;
	color: white;
	padding: 20px 30px;
  	text-transform: uppercase;
  	border:none;
  	cursor: pointer;
	 text-decoration: none;
	 box-shadow:0 5px 0 #006000;
}

.btn-comprar:active{
  position:relative;
  top:5px;
  box-shadow:none;
}

.detalhe-livro-font{
	font-family: 'PT Serif', serif;
}

.title{
	text-transform: uppercase;
}

.title-book{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3em;
	font-weight: bold;
}

.author-name{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

.btn-entrar {
	line-height: 50px;
	color: white !important;
	font-size: 1.2em;
}

.btn-entrar:hover{
	color: white !important;
	background-color: none !important;
	padding: 0 !important;
	
}

#drop-login:hover{
	background-color: rgba(255,255,255, .5) !important;
}

#drop-login{
	color: white;
	text-decoration: none;
}

.btn-entrar:hover{
	color: white;
	text-decoration: underline;
}

.main{
	background-color: #009E0F;
	color: white;
}

button[type='submit'] {
	color: white;
}

#logo {
	line-height: 20px;
	margin-bottom: 20px;
}

#logo>a {
	font-style: none;
	color: white;
	text-decoration: none;
}

#form-login{
	margin-top: 20px;
}

.form-busca {
	
}

.message{
	margin-top: 20px;
}

#drop3 {
	background-color: none !important;
	color: white !important;
}

.img-responsive-grid {
	width: 20%;
	height: 20%;
}

.categoria:hover {
	background-color: #eee !important;
	border-radios: 20px !important;
}